
bin
obj
*.exe
*.dll
/.vs
ContainerTestApp/Properties/PublishProfiles/test-container.pubxml

ContainerTestApp/Properties/PublishProfiles/test-container.pubxml.user

ContainerTestApp/ContainerTestApp.csproj.user

src/GymApp/Properties/PublishProfiles/gym-app-container.pubxml

src/GymApp/Properties/PublishProfiles/gym-app-container.pubxml.user
