
bin
obj
*.exe
*.dll
/.vs
ContainerTestApp/Properties/PublishProfiles/test-container.pubxml

ContainerTestApp/Properties/PublishProfiles/test-container.pubxml.user

ContainerTestApp/ContainerTestApp.csproj.user
